{% extends 'base.html' %}

{% block title %}View Recipes{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="view_rec">View Recipes</h1>
    {% if recipes %}
        <ul class="list-group">
            {% for recipe in recipes %}
                <li class="list-group-item">
                    <h5 class="reclist"><a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h5>
                    {% if recipe.image_filename %}
                        <img class="img-thumbnail" src="{{ url_for('static', filename='uploads/' + recipe.image_filename) }}" alt="{{ recipe.title }}" class="img-fluid" style="max-height: 300px; object-fit: cover;">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes available yet.</p>
    {% endif %}
</div>
{% endblock %}